[2014-12-19 21:48] alexaandru opened #1 "Add ability to print a text before or after the spinner"
Would be nice to have the ability to print a text before/after the spinner, e.g.:

[code]

Cheers!

[2014-12-19 21:57] #1 closed, assigned to nobody

[2014-12-21 21:26] izzystardust opened #10 "Having multiple spinners is borked."
[code]

This produces flickering between the two spinners, instead of them spinning independently next to each other.

As I see it, there are a couple of options for fixing it:
1. Only allowing one spinner (simpler)
2. Using termbox or equivalent to allow moving the cursor arbitrarily (more flexible, but complex).

I'm leaning towards implementing 1, and leaving the option for having a spinner/mul

[2014-12-21 22:14] #10 closed, assigned to nobody

[2015-05-29 13:23] diddledan opened #18 "Running under BASH; erase() seems to backspace too many times"
Running the example spinner from the README on a system under the BASH shell results in the spinner jumping backwards where the erase() function is backspacing more characters than are visible on the display. I can reproduce this in both Cygwin's BASH implementation and on a remote Linux system via PuTTY SSH client with BASH as the login shell on the remote system.

I double-checked and verified t

[2015-05-29 17:03] briandowns commented on #18
This is really interesting.  I think I'm going to need some more information.  I tested this out on Mac OSX and on Ubuntu in BASH and in ZSH and all behaved as expected.

Are you running the code in the README with no modifications?

If you run an `env` what is your TERM var set to?

## Mac

[code]

[code]
## Ubuntu

[code]

[code]

[2015-05-29 22:55] diddledan commented on #18
Just a head's up that I may not be able to get a chance to debug or report back on this until I get back from vacation, as internet will likely be non existent where I'm heading for the next two weeks.

[2015-05-29 22:59] briandowns commented on #18
No worries.  Have fun!

[2015-05-31 21:51] briandowns commented on #18
What systems are you doing testing on so I can reproduce what you're seeing?

[2015-06-09 17:39] diddledan commented on #18
My test system is with windows cmd.exe and comparing against bash on the same pc via cygwin. I also noticed the issue appearing on a remote ubuntu 15.04 system (I don't have the bash version to-hand) using PuTTY-0.64 as an ssh client from http://www.chiark.greenend.org.uk/~sgtatham/putty/

Cygwin:

    $ bash --version
    GNU bash, version 4.3.39(2)-release (x86_64-unknown-cygwin)
    Copyright (

[2015-06-16 16:25] briandowns commented on #18
Seems like this behavior is unique to Putty sessions and Cygwin bash sessions.  I'm still trying to locate the actual cause.  I tested code pre and post windows support PR and it works fine pre PR.  Continuing to dig...

[2015-06-16 22:01] diddledan commented on #18
ok, that's an interesting discovery that your tests reveal a difference in behaviour between the before and after PR cases. That would suggest that the windows-colour-compatibility is removing the ansi characters when displaying the output but retaining them in the internal representation in go-land so the number of backspaces applied to get to the beginning of the output is probably too-many by e

[2015-06-16 23:19] briandowns commented on #18
So it looks like if there's to be Windows support, we're gonna need to do a bit more reworking for full compatibility.  I'm not sure I want to reintroduce a "\r" since that was taken out in favor of a "\b" in commit e2f15158c2f7a61f45321d61a3a49a70c488c339.

[2015-07-08 03:49] briandowns commented on #18
Windows specific issue. Reverting back to when we didn't care about windows. Will care again soon hopefully.

[2015-07-08 03:49] #18 closed

[2015-12-18 18:46] mjmac opened #22 "Running with -race finds races in spinner and tests"
Running the following trivial program with the race detector enabled (go run -race spintest.go) exposes a race between goroutines created by Spinner#Start():

[code]

Indeed, just running go test -race also exposes this race and others in the tests themselves.

[2015-12-18 18:58] #22 closed

[2016-02-27 02:56] dekz opened #24 "Provide the io.Writer"
Is it possible to provide the `io.Writer` on creation. I would like the spinner output to go to `Stderr` rather than `Stdout` so that progress can be shown while the result can be piped out.

[code]

[code]

[2016-02-27 17:45] briandowns commented on #24
Hi, thanks for using the package!  #25 is being tested now.

[2016-02-27 19:01] briandowns commented on #24
Merged into master.  Give it a whirl.

[2016-02-27 22:20] dekz commented on #24
Thanks Brian, looks good!

[2016-02-27 22:20] #24 closed

[2016-02-27 23:38] briandowns commented on #24
@dekz I'd love to include your use case in the main README. Can I bother you to do a small write-up to be included?

[2016-02-27 23:48] dekz commented on #24
How's this @briandowns ?

## Unix pipe and redirect
Setting the Spinner Writer to Stderr helps show progress to the user, with the enhancement to chain, pipe or redirect the output.

[code]

[code]

[code]

[2016-02-27 23:57] briandowns commented on #24
I love it.  README updated to reflect new functionality.  Thanks!

[2016-02-28 00:09] dekz opened #26 "Finalised message (optional)"
I have some thoughts on a finalized string. Right now the Spinner completes and erases all that has been written.

In my code I am dealing with this myself, but it is something that might fit within this package.

### Old behaviour:
[code]
s.Stop()
[code]

### New optional Behaviour:
s.FinalMessage = "✔Data encryption successful"
[code]
s.Stop()
[code]

This is useful as a checklist at the end of

[2016-02-28 00:26] briandowns commented on #26
This is an interesting idea.  I'll have to play with it some.

[2016-02-28 00:30] briandowns commented on #26
Did a quick mock up.  This is doable and easy. I'll push up a patch shortly.

[2016-02-28 00:51] briandowns commented on #26
Feature complete via #27

Example in `_examples` directory and below with as well as README

[code]

Output
[code]

Please let me know if this will work for you.

[2016-02-28 01:29] briandowns commented on #26
Code and readme is fine. I'll have to update the example app.

[2016-02-28 18:30] #26 closed

[2016-07-18 15:32] Guy-Lev opened #29 "Issues with Stop() method"
The "Stop()" method does not work properly after the major refactoring done in:
https://github.com/briandowns/spinner/commit/2f506e06238e571c76a2661aeccb7a6c005040b8

printing to the console after calling Stop(), does not clean up the line, and the spinner leaves "left overs"

Here is a short program to help reproduce:

[code]

[2016-07-18 20:28] briandowns commented on #29
What platform and terminal is this code running on?  Is the output from the example messed up too?

[2016-07-19 06:35] Guy-Lev commented on #29
Yes the example I wrote will mess up the output.
I am currently running with the latest OSX:
`Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64`
Using iTerm, and oh-my-zsh.
but this also happened on all the Linux distributions I checked.

[2016-08-22 05:00] courtneycouch commented on #29
+1 have the same issue with that update.

[2016-11-21 16:03] saj commented on #29
#32 might fix this.

Output given the sample program above:

Before:

![screen shot 2016-11-22 at 02 18 10](https://cloud.githubusercontent.com/assets/194389/20489710/a6d0c764-b05f-11e6-979c-61f6e669e3ce.png)

After:

![screen shot 2016-11-22 at 02 46 12](https://cloud.githubusercontent.com/assets/194389/20489716/ad1a7a16-b05f-11e6-9739-64a5b7e0ccbf.png)

[2016-11-21 16:33] #29 closed

[2017-01-25 05:25] briandowns opened #35 "Color method isn't actually returning an error when it should"

[2017-01-26 22:59] ClaytonNorthey92 commented on #35
@briandowns could I work on this?

[2017-01-26 23:02] briandowns commented on #35
Absolutely!

[2017-01-26 23:03] ClaytonNorthey92 commented on #35
@briandowns great! thank you!

[2017-01-27 05:09] #35 closed

[2017-01-31 02:29] calebeby opened #37 "Does not overwrite line in sakura terminal"
Hi guys,

Thanks for this package. It is really useful.

I recently switched from `urxvt` to [`sakura terminal`](https://launchpad.net/sakura). In `urxvt`, the spinner successfully overwrote the previous line. In `sakura`, it did not. It continuously writes new lines.

I am just beginning in `go`, but from what I can tell, the `erase` function essentially backspaces for each character in the previ

[2017-01-31 16:34] briandowns commented on #37
Thank you very much for this issue.  If you want to put a PR together for testing and discussion, that'd be awesome.

[2017-01-31 22:25] calebeby commented on #37
Huh. Running the tests in sakura, it stays on the same line. Running my project in sakura, it makes a bunch  of lines. Running my project in urxvt, it stays on the same line.

How do I use my local fork of spinner in my go project?

[2017-01-31 22:29] briandowns commented on #37
If you've cloned it into your ${GOPATH}, you should be able to just reference it from another project.

[2017-02-24 08:17] JackMordaunt opened #39 "How to multiple spinners at once?"
Hi there.

Say I have 3 concurrent processes running at the same time can I have 3 spinners running at the same time, displaying one for each process? I've tried the naive approach of creating a spinner for each process but the spinners overwrite each other, competing for stdout.

Is it possible?

Cheers!

[2017-02-24 14:13] briandowns commented on #39
Hi @TotalSynthesis

Great question and one I wish I could give a better answer to than, no.  It's a feature I've wanted to add for the life of the project but have never gotten around to adding it.  I can play around with it a little today to see if I can find a way to make it work.  Please let me know if you figure out a way.

You're more than welcome to submit a pull request with this functional

[2017-04-04 22:11] petermbenjamin opened #44 "Show Spinner.FinalMSG without having to Start() and Stop()"
Thank you for this CLI spinner package.

I've used a similar CLI spinner package in node.js (https://github.com/sindresorhus/ora).
The package had some nice APIs that allowed users to use `ora` to log out messages.

For example:
- Informational messages:
  `ora('Some info message').info()` would print out `ℹ Some info message`
  Note: doesn't require starting or stopping CLI spinner.

- Status mes

[2017-04-04 22:39] briandowns commented on #44
You can update the output safely by setting the `Suffix` or `Prefix` variables with the text you'd like without having to restart the spinner.  You can use `FinalMSG` to output a string when the spinner completes as well.

Here's a pretty crude example:

[code]

[2017-04-20 21:05] briandowns commented on #44
Please feel free to reopen if you're still needing assistance.

[2017-04-20 21:05] #44 closed

[2017-04-20 21:06] briandowns opened #45 "Make gifs of each indicator for README"

[2017-06-23 05:36] praveenkumar opened #49 "Can we have a tag or release associated with current state?"
Having a tag or release (whatever current state of code) should be good so it will easy to add in glide config file. Even sha hash can be added but having a tag/release make it bit cleaner.

[2017-06-23 06:02] briandowns commented on #49
Will this work for you? https://github.com/briandowns/spinner/releases/tag/1.0

[2017-06-23 06:12] praveenkumar commented on #49
@briandowns Yes, Thank you. I will give it a try and then close this issue.

[2017-06-28 08:30] budhrg commented on #49
This is working as expected with tag 1.0. This issue can be closed. Thanks

[2017-06-28 08:31] praveenkumar commented on #49
Thanks. Closing now.

[2017-06-28 08:31] #49 closed

[2017-06-28 15:18] briandowns commented on #49
You're very welcome. Please let me know if I can do anything else.

[2017-07-31 03:34] #39 closed

[2017-07-31 03:35] briandowns commented on #37
Will reopen if tests are worked on to make passing in #38

[2017-07-31 03:35] #37 closed

[2017-09-01 10:35] budhrg opened #50 "Random character showing up along with spinning wheel character"
Hi,

Thanks for the awesome package. We have using it since quite a while in [minishift](https://github.com/minishift/minishift) to show spinning wheel while a user is waiting for registration process is complete.

 However, there are some random characters showing up when spinning wheel is displayed in eclipse console.

[code]

More info here https://github.com/minishift/minishift/issues/1277.

A

[2017-09-01 13:30] briandowns commented on #50
I'll take a look today. What character encoding is eclipse using? Can you see if it matches a normal shell and if not, change it?

[2017-09-01 14:42] briandowns commented on #50
Make sure encoding is UTF-8

[2017-09-01 14:46] budhrg commented on #50
@briandowns , I need to check as I am not working from the eclipse side but CLI(minishift) side. I have informed the devs who are working on eclipse side and might respond here.

[2017-09-01 17:54] budhrg commented on #50
Any idea @mmalina ?

[2017-09-04 05:11] gbraad commented on #50
Similar libraries, like `gopkg.in/cheggaaa/pb.v1` do not have this issue. However, I also believe the Eclipse terminal emulation might be at fault here.

[2017-09-04 07:26] mmalina commented on #50
@budhrg I have no idea. But with Rob's fix in https://github.com/jbosstools/jbosstools-openshift/pull/1556 we no longer see wrong encoding (at least on Mac, I haven't checked on Windows yet). But we still want to get rid of it, because it's a very very long line:
`Starting local OpenShift cluster using 'xhyve' hypervisor...
Registering machine using subscription-manager
|   /   -   \ 

[2017-09-04 08:12] budhrg commented on #50
@mmalina ,

There is not a long sequence of |/-\ , for us in shell terminals, that character spins at one place giving spinning wheel look.

[2017-09-04 08:18] mmalina commented on #50
@budhrg I know. It works fine when I start minishift from terminal. This is specific to Eclipse only. I guess because the shell is not interactive, it doesn't accept characters such as \r (carriage return) that is needed for such a thing.

[2017-09-04 08:58] gbraad commented on #50
If prefix/suffix space and colorization can be disabled, we can probably
just use `[]string{".", " "}` to get a blinking for and a spaced dot `. . .
.` in Eclipse.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-04 11:25] briandowns commented on #50
Before any library code is touched, a better understanding of what Eclipse is doing should be had since this only exists in the Eclipse terminal. The escape codes are for color (if specified) and backspacing over previously printed characters. The former is optional and the latter negates the relevance of the library.  More testing and discover in Eclipse is needed.

[2017-09-04 11:30] gbraad commented on #50
The colorization can be disabled by setting the colorfunc?

[2017-09-04 11:31] gbraad commented on #50
The eclipse console in non-interactive. It does not operate as a . It is not really a terminal emulator, but more like a log

[2017-09-04 11:38] briandowns commented on #50
Correct so you'll not have the same functionality. Maybe http://mihai-nita.net/2013/06/03/eclipse-plugin-ansi-in-console/ ?

[2017-09-04 12:03] gbraad commented on #50
I suggested the same. At the moment looking into a way to make it work acceptable, without too many changes. This is why the suggestions also suggested 'workarounds' with minimal impact on our end, and none on your end.

[2017-09-04 13:50] gbraad commented on #50
@briandowns
https://github.com/briandowns/spinner/blob/48dbb65d7bd5c74ab50d53d04c949f20e3d14944/spinner.go#L106-L107

Why is there a space at the end of the formatting?

[2017-09-04 15:21] briandowns commented on #50
It's necessary for some of the spinners currently in place and others in the works. Example is the Earth spinner. Without the space, the Earth spinner is only partially visible.

[2017-09-18 17:25] briandowns commented on #50
What's the current status of this?

[2017-09-19 07:48] mmalina commented on #50
AFAIK, minishift went back to using simple dots for showing progress, they no longer use the spinner.
So a fix is no longer needed. @budhrg can you confirm?

[2017-09-19 07:58] gbraad commented on #50
Correct. This issue can be closed.

[2017-10-10 12:13] saniales opened #51 "39 not working on some linux shells"
steps to reproduce:
create a spinner and start it on a linux shell
see the following

[code]
instead of
[code]

in brief, the character is not properly removed, by leaving an offset when rewriting

[2017-10-10 15:13] briandowns commented on #51
What shell are you using?

[2017-10-11 18:05] briandowns commented on #51
I've tested on Mint 18 with BASH and ZSH.  Please let me know the shell you're using as well as the terminal you're using.

[2017-10-14 09:32] saniales commented on #51
I am using Ubuntu 17.04 with zsh but it does not work with any terminal on Ubuntu 17.04

[2017-11-23 16:53] pshevtsov opened #52 "Control characters instead of spinner on Windows"
It doesn't display spinner on Windows:

<img width="662" alt="spinner-windows-bug" src="https://user-images.githubusercontent.com/290451/33183186-ddae0e42-d087-11e7-8b22-7a8b9010c2e5.png">

[2017-11-23 17:00] pshevtsov opened #53 "Detect for dumb terminals"
Spinner looks funny on dumb terminals. Is there any way to detect terminal capabilities and only output spinner if terminal could display it?

![2017-11-23-195641_658x71_scrot](https://user-images.githubusercontent.com/290451/33183445-f209c75e-d088-11e7-906e-d43e12102a0d.png)

[2017-11-23 17:24] briandowns commented on #53
What is your operating system and version? I'll take a look at a fix.

[2017-11-23 17:24] briandowns commented on #52
I don't have access to a windows system so if you or someone else would like to contribute a patch for this, that would be greatly appreciated.

[2017-11-24 12:52] pshevtsov commented on #53
@briandowns That's [Acme](https://9fans.github.io/plan9port/man/man1/acme.html) from [plan9port](https://9fans.github.io/plan9port/) running in Debian GNU/Linux. However spinner works OK in [9term](https://9fans.github.io/plan9port/man/man1/9term.html).

[2018-02-21 20:47] #50 closed

[2018-03-30 10:44] joerocklin commented on #52
FYI: Microsoft makes windows VMs available for free for testing purposes. They indicate it is for testing with various browser versions, but I've been able to test pretty much anything in them.
https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2018-04-03 20:52] Otlichno opened #55 "Spinner Eats Lines on CentOS 7"
We have this as part of our automation for tracking the status of a executing Task, and on the environments that it was created on (Macs) it works correctly were as the automation progresses each line is added with automation information and the spinner stays on the new line. On my CentOS VM the spinner causes the Task line to eat (backspace) all characters on the line that it is on, then it moves

[2018-05-29 05:35] chaitan94 commented on #51
I seem to have found a fix for this. Here is the modification I had made on the spinner.go file:

[code]

This does make it work on my computer (Arch Linux, zsh). I haven't however tested on any other OS.

[2018-05-29 14:06] briandowns commented on #51
Thanks @chaitan94! @saniales Any chance you can test these changes with your setup?

[2018-06-24 19:17] chaitan94 commented on #51
Can't stand this bug anymore :sweat_smile:

I have tested this myself on Debian and Ubuntu. I have raised a pull request for this fix.

[2018-08-16 23:11] ob opened #58 "Long status message and short final message garbles output"
In the following program:

[code]

When the spinner stops, the output is:

[code]

I think the last thing the spinner should do is erase the long message no?

[2018-08-22 05:35] ilgooz opened #60 "TestRestart not always pass on macOS Terminal"
using [master](https://github.com/briandowns/spinner/commit/5b875a9171af19dbde37e70a8fcbe2ebd7285e05)

[code]

[2018-09-22 21:36] schollz commented on #52
@pshevtsov You might try the PR to see if it helps for you: https://github.com/briandowns/spinner/pull/61

[2018-09-25 16:34] #60 closed

[2018-10-24 19:01] BenTheElder opened #64 "spinners not rewriting line properly in iterm2"
Reported by a user (@liztio) of a tool of mine that uses spinner (thanks!)
![image](https://user-images.githubusercontent.com/917931/47454564-5f571e80-d784-11e8-8e12-c38c6d9c0ac1.png)

I installed iterm2 and found that disabling unicode 9 text width fixes this, but that option is on by default and generally something users probably want. I've not dug into this further yet.

[2018-10-29 04:55] akshaychhajed commented on #45
@briandowns This would help users get a better feel of the library. I will add them and send PR

[2018-10-29 15:54] #45 closed

[2019-01-27 00:14] briandowns commented on #64
Sorry for the delay in response. Thanks for filing this. I'll take a look.

[2019-03-01 17:41] dmolesUC3 opened #69 "Spinners not spinning in OSX 10.14.3 terminal after updating to Go 1.12"
I see a lot of cursor movement, but the spinner doesn't update properly. The final result is fine, though.

[2019-03-01 17:44] briandowns commented on #69
Can you provide the code you're executing? Is it the example? I can look at this today.

[2019-03-01 17:47] dmolesUC3 commented on #69
Thanks! I haven't tried the example. Here's the code (in context [here](https://github.com/dmolesUC3/cos/blob/master/internal/suite/case.go#L47-L69)):

[code]

[2019-03-01 17:51] dmolesUC3 commented on #69
Hmm, I thought it might be because I'm using emoji for spin characters, but I modified the example to do that and it doesn't seem to be the problem. Let me see if I can pin it down—it's going to be tricky to run my code unless you have an S3 bucket handy.

[2019-03-01 17:53] briandowns commented on #69
What is in your `spinCharsStr` variable? I just ran the tests with Go 1.12 on Mac and it's ok. I'll dig into the lib a bit further. What's the expected return of the frameDuration? Can you print that out and make sure it's what you're expected?

[2019-03-01 17:57] dmolesUC3 commented on #69
[code]

I don't think the choice of characters is the issue. It might be that I'm outputting something during the task that causes it to misbehave—I just modified my code to run a dummy task that just sleeps for four seconds, and didn't see the problem. I think you can close this for now and if I can pin it down with more information, I can re-open it.

[2019-03-01 17:58] briandowns commented on #69
Sounds good. I'll close this. Please feel free to re-open if you run into any trouble. Mind if we add that character set to the library?

[2019-03-03 02:35] #69 closed

[2019-03-11 15:13] schmidtp0740 opened #70 "Expose RWMutex to lock state so that spinner doesnt output when it shouldnt"
I came across this bug where sometimes the spinner will output even after we execute Stop(). One solution I notice is if you were to expose the RWMutex. Could you expose it either making the attribute public or expose through functions?

Below is an example of what I am seeing
[code]

A solution might be
[code]
[code]

[2019-03-11 15:21] briandowns commented on #70
Thanks for filing this repo. I'll take a look at it asap. As for that short duration in the example, are you using durations that short? I'm curious if the runtime thread scheduler's behavior is to blame here. Regardless, I'm happy to make this work. Thanks again for the report!

[2019-03-11 15:40] briandowns opened #72 "Add Option to Hide Cursor"
After having written the C version of this recently, the Go version should do the same.

[2019-03-11 15:41] briandowns commented on #70
@schmidtp0740  If you're happy with https://github.com/briandowns/spinner/pull/71 I'll merge and tag a new release.

[2019-03-11 15:57] schmidtp0740 commented on #70
No, I'm not using the duration that short but it was the only way to see the behavior consistently as i am seeing this bug on only very rare occasions but they happen. Thanks for responding so quickly!

[2019-03-11 15:58] schmidtp0740 commented on #70
@briandowns That looks good to me, thanks!

[2019-03-11 16:02] briandowns commented on #70
Master is up-to-date now and made a 1.5 release. Thanks again for the bug report!

[2019-03-11 16:02] #70 closed

[2019-03-17 16:30] ivenk commented on #72
Hey @briandowns ,
I looked into this but im not really happy with my solution however I cannot think of a better one at the moment. Maybe you could tell me how you did this in C.

I tried hiding the cursor using os/exec and the command :
`tput civis` (1)
and it works fine.
Later I can bring it back using :
`tput cvvis` (2)

However if the program exits irregularly I can not ensure that (2) is call

[2019-03-18 03:42] briandowns commented on #72
I ran into the same issue with the C version. I don't really have any good answer for it other than having the caller have it reset in `Stop` or mentioning it can happen and they are responsible. Open to other suggestions.

[2019-03-19 03:26] briandowns commented on #72
Resolved in #73 . Thanks for doing this @ivenk !

[2019-03-19 03:26] #72 closed

[2019-05-06 21:39] ahmetb opened #74 "An extra space character added to the spinner line"
See this screenshot:

![image](https://user-images.githubusercontent.com/159209/57256850-9d26e080-700c-11e9-92b4-8110c0029b11.png)

In this example, I set:

[code]

however, I still get an empty space after `message...` and before the cursor indicator of my terminal emulator.

It seems like there's an extra space somewhere in the code.

[2019-05-06 21:41] ahmetb commented on #74
Seems to be by design (as it's very apparent in the code), but I'm not sure why.

https://github.com/briandowns/spinner/blob/ac46072a5a9105597c1fd63f9e246477b116772e/spinner.go#L288

[2019-05-06 21:43] ahmetb opened #75 "Tags in this repository are not recognized by Go Modules"
It's because the repo uses `1.6` as a tag and not `v1.6` which would be recognized by semver, or better `v1.6.0`.

If you tag the future releases properly, users with `go.mod` wouldn't end up with something like

[code]

[2019-05-06 23:09] briandowns commented on #75
Hi @ahmetb. Thanks for reporting this. "properly" for Go mods, yes, I'll likely update how tagging is done. This repo and it's semver tags predate Go mods and I was maintaining consistency for as long as I could until someone complained.

[2019-05-06 23:10] #75 closed

[2019-05-06 23:11] briandowns commented on #74
It's been a number of years since that line was written and I can't honestly remember. I think it had something to do with the multibyte chars of some of the spinners overlapping the adjacent text.

[2019-05-06 23:13] ahmetb commented on #75
I'd recommend just tagging new versions with the semver scheme and not delete existing tags. Alternatively, you can create new tags with v* prefix and *.0 suffix from existing tag references, too.

Thanks!

[2019-05-06 23:18] briandowns commented on #75
That's the intent! Thanks!

[2019-07-10 19:14] zorino commented on #55
Same thing with gnu screen ($TERM = screen-256color)

[2019-09-08 18:05] roscopecoltran opened #80 "update suffix and prefix in real-time"
Hi guys,

Hope you are all well !

I would like to have spinner with dynamic suffix and prefix. Is it possible ?

Cheers,
R.

[2019-09-08 22:25] briandowns commented on #80
Hey! You can update the corresponding field on the returned spinner struct. Make sure to call lock and unlock on the struct when necessary.

[2019-09-09 12:57] roscopecoltran commented on #80
Here is the code for tick:
https://github.com/lucmski/limo/blob/topics/cmd/webui.go#L108
https://github.com/lucmski/limo/blob/topics/output/color.go#L161-L191

Doesn't work :-(

[2019-09-10 05:10] briandowns commented on #80
Can you provide the output and details on what's happening?

[2019-09-16 02:32] briandowns commented on #80
I put this together to demonstrate how you can use the spinner, add a prefix mid use, and updated it and then the same for a suffix.

[code]

[2019-09-17 19:04] briandowns commented on #80
Can this issue be closed?

[2019-09-18 08:45] roscopecoltran commented on #80
yes, thanks for your help :-)

Have a nice day !

[2019-09-18 08:45] #80 closed

[2019-11-26 06:53] danawoodman opened #85 ""Stop()" not clearing characters properly on Windows"
I'm seeing some strange behavior on Windows when a spinner is stopped and then a line of text is printed.

`Starting system service...` is my spinner text.

Then in my code I do something like:

[code]

But the output seems to get smashed together:

[code]

See the mangled `servicervice`.

My assumption was that it didn't properly clear the line of text before printing the next line so I put a tim

[2019-11-29 01:43] danawoodman commented on #85
@briandowns any chance you know why this might be occurring?

[2019-11-29 01:51] danawoodman commented on #85
Ah, just found a strange workaround.

My spinner has a `Suffix` set. If I `.Stop()` the command then print out text that is **less characters than the length of the suffix + spinner than extra characters show**. If I, for example, set it up like so:

[code]

... I don't see any extra characters show up.

But in the case where the suffix is longer than the message, I see extra characters show up fr

[2019-11-29 02:03] briandowns commented on #85
Hmm, that's an interesting one. I don't have any windows boxes to test with but am happy to take PR's. This isn't a known issue as far as I know. I'll check around and see if anyone has a windows box they can test and submit a PR.

[2019-11-29 02:14] danawoodman commented on #85
@briandowns you can use VirtalBox to install a Windows VM for free. Using Vagrant is helpful:

1. Install VirtualBox (free)
2. Install Vagrant (free)

Then:

[code]

Then edit Vagrant file to replace `config.vm.box` value with:

[code]

Then setup:

[code]

This will SSH you into your Windows machine

[2019-11-29 02:16] briandowns commented on #85
I'm aware. Thank you however I'm still going to defer to someone that has one to do this as I'm unable to at the moment.

[2020-01-30 16:51] ChadTaljaardt opened #86 "Can we allow text colour to be changed as well?"
I don't see in the documentation any way to change the colour of the text for the spinner. Is there a way this can be done?

[2020-01-30 16:57] briandowns commented on #86
Hi @ChadTaljaardt, it doesn't appear to be a way once the spinner has started. I can take a look at adding feature unless you wanted to submit a PR. :)

[2020-01-30 17:00] ChadTaljaardt commented on #86
Do you know of a way before the spinner has started?  I am looking to have either the prefix text or suffix text to be coloured.

I can look into making a PR on the weekend if i am free.

[2020-02-11 23:31] cflewis opened #87 "Spinner keeps erasing my line"
Hi there,
I am having a problem using the spinner correctly :(

Here is my code:

[code]

When the spinner is executing, it starts backspacing my lines:
e.g.

[code]
(from "Creating customer" and "Creating credentials")

Every spin iteration moves back one more. In Bash this appears to work correctly.

I could get over this by using `Prefix`, but when the spinner ends it deletes the whole line, wh

[2020-02-11 23:49] cflewis commented on #87
I got around the eating, so I'm going to close. Here's what I did:

[code]

[2020-02-11 23:49] #87 closed

[2020-02-12 03:13] briandowns commented on #87
This is interesting. Thank you very much for the follow up. Do you know if this is Fish specific or fish and zsh specific?

[2020-02-12 03:56] cflewis commented on #87
I misspoke (misstyped?) it wasn't limited to any shell, it was every shell, including Bash.

I am sure I Am Holding It Wrong but I am not sure exactly how. I am happy with what I think is a workaround, but maybe it's not a workaround and how it should be done?

[2020-03-24 17:59] vperiyasamy opened #89 "Race condition on New Spinner - allow WaitGroup?"
Hi,
My go tests encounter a data race when executing this simple block of code
[code]

The race occurs between the `s.Writer = os.Stderr` and https://github.com/briandowns/spinner/blob/master/spinner.go#L298
I'm wondering if we can add a WaitGroup somehow so I can wait for the spinner.New() go routine to be finished.

[2020-03-24 18:01] briandowns commented on #89
Thank you for reporting this. What version are you running?

[2020-03-24 23:47] vperiyasamy commented on #89
using `v1.8.0`. Another solution I was thinking of is if we can pass a writer to `spinner.New()` to initialize with?

[2020-03-25 00:32] vperiyasamy commented on #89
Essentially we just need an API for changing the writer because the race condition is triggered by the goroutine.

[2020-03-25 03:06] briandowns commented on #89
I've added an additional option function in #90 to allow for setting a new writer as well as updated the doc comments and readme to indicate this is the preferred method for now. I decided not to change the package API in any way at this time as I believe it should warrant a 2.0 marker for such a change and I'm avoid that at all costs to save all of the users from having to update their import str

[2020-03-25 16:40] vperiyasamy commented on #89
thanks! I'll test this out once merged and let you know if it resolves my issue

[2020-03-25 16:45] #89 closed

[2020-03-25 16:47] briandowns commented on #89
Checkout release v1.10.0

[2020-04-05 03:26] Glacier759 commented on #55
Same thing with gnu screen ($TERM = xterm)

[2020-04-09 10:23] hellt commented on #55
Same experience when using putty or mobaxterm. They default to xterm terminal emulation

Any chance @briandowns you can have a look at it?

[2020-04-10 11:44] mislav opened #91 "Race condition after calling `Stop()`"
This sounds similar to https://github.com/briandowns/spinner/issues/89, but I believe that this race condition is elsewhere and that #90 doesn't fix it.

We have code similar to:

[code]

The writer `w` is the same stream that the spinner is configured to write to.

Unlike #89, the race condition isn't around initializing the spinner with a Writer, but at the `Fprintln` call after calling `Stop()`

[2020-04-10 16:24] #91 closed

[2020-04-29 09:47] IanCassTwo commented on #55
Same here with Putty and Debian 9

[2020-05-01 20:27] Wulfheart opened #95 "Add iota constants for spinner.CharSets"
What about declaring package constants?

[code]

This would result in

[code]

[2020-05-01 20:32] briandowns commented on #95
Thanks for filing this. I don't know what problem this is solving. I'm not opposed but I think it might introduce some oddities in naming.

[2020-05-01 23:52] Wulfheart commented on #95
It’s just a personal preference 🙃

For me it is just inconvenient to make a number. It would be more clear if there would be an (optional) name so it can be read more quickly in contexts with multiple different spinners.

[2020-05-03 09:29] QuLogic opened #98 "TestRestart fails in 1.11"
This did not fail in 1.10:
[code]
Using go 1.14.2 on Fedora Rawhide.

[2020-05-04 06:16] theckman commented on #86
@ChadTaljaardt because of this exact issue I ended up rolling my own spinner starting at the end of the year, [yacspin](https://github.com/theckman/yacspin).

I had looked at contributing this functionality to this package, but with the way the spinner was structured it felt like I'd need to make some major changes to do it in a thread-safe way. That made me yak shave my own CLi spinner, which pro

[2020-05-04 12:35] edglynes commented on #55
https://github.com/briandowns/spinner/pull/96

[2020-05-06 08:36] hellt commented on #55
this fixes it for me (1.11.1)

[2020-05-07 11:25] metrue opened #99 "There is a race issue"
### How to produces?

spinner.go
[code]

spinner_test.go
[code]

Then run test command,
[code]

Will get failure message.
[code]

[2020-05-07 16:55] briandowns commented on #99
Thanks for the report. I'll take a look over the next day or two.

[2020-05-17 21:19] brycesteinhoff commented on #86
You can set Spinner.Suffix to pre-stylized string.

[2020-07-04 06:57] kavimaluskam opened #100 "Multiline stdout with suffix"
I am trying to use spinner and the spinner keep printing stdout line by line instead of refreshing:
[code]

Below attached my code, is it a normal behavior?
[code]

[2020-07-04 23:23] briandowns commented on #100
Thanks for filing this. Update your suffix line to not include the new line character and you should be good to go.

[2020-07-04 23:23] #100 closed

[2020-07-05 09:24] QuLogic commented on #98
Also reproduced with Go 1.13.11 on Fedora 31.

Bisect says this came from fe1d655feafc9f8e4c9e22ff820c1e90ba025a50.

[2020-07-08 14:38] alebcay opened #101 "Spinner may not start/restart properly when stopped often"
Consider the following basic program:
[code]

The expected behavior is that the `fmt.Printf(...)` lines are printed one by one, with just the spinner running below it. However, after some time (usually less than printing 100 lines in my limited testing), the spinner no longer appears below the output of invocations of `fmt.Printf(...)` and all that appears is just the lines being printed.

I've al

[2020-07-08 14:49] briandowns commented on #101
Thanks for filing this. What version are you using?

[2020-07-08 18:46] alebcay commented on #101
1.11.1 I believe (whatever `import "github.com/briandowns/spinner"` got me today), on `darwin/amd64`.

[2020-10-19 00:21] lukasmalkmus opened #103 "Awkward `color` option behavior"
I kinda like how configuring a spinner works, but setting a color is awkward. While the usage is documented and states, that the spinner is restarted with the given color, this is kinda awkward when using it in a constructor:

[code]

Maybe this should be revisited since the default state of a spinner should be stopped.

[2020-10-19 00:33] lukasmalkmus opened #104 "Colored spinner can not be restarted"
The following code won't work for me (iTerm2 + zsh):

[code]

This code demonstrates an issue I already documented in #103. I need to call `sp.Stop()` right after creating it to stop it from starting right away. The following restart doesn't work.

It works when removing `spinner.WithColor("green")`.

[2020-11-20 08:54] clebs commented on #99
I also encountered this issue in `v1.11.1`.

But after investigating, I see that the issue was fixed [here](https://github.com/briandowns/spinner/commit/274d17742d9e79ebca441490246c31e47b64ba67) in July.

But unfortunately this fix did not make it into `v1.11.1`. Is there a timeline for the next release which would contain the fix from July?

[2020-11-30 00:15] djscholl commented on #99
I'm curious about the next release for this reason as well, thanks.

[2020-11-30 01:17] briandowns commented on #104
I'm not really pleased with the current means of configuring color. I'll see if i can push up something in the next day or two.

[2020-11-30 01:32] briandowns commented on #104
Actually, I'm going to remove the restart call inside of the `color` method. I think that should be a reasonable stopgap for now and I'll cut a new release.

[2020-11-30 01:46] briandowns commented on #103
Latest release removes the restart. https://github.com/briandowns/spinner/releases/tag/v1.12

[2020-11-30 02:29] briandowns commented on #99
I just cut v1.12.0 this evening.

[2020-11-30 02:31] briandowns commented on #95
Going to close for now. There may be a time where concise and descriptive names can be had and I'll entertain a proposal then. Thanks again for the suggestion!

[2020-11-30 02:32] #95 closed

[2020-11-30 02:32] briandowns commented on #98
Closing. CI is passing.

[2020-11-30 02:32] #98 closed

[2020-11-30 02:34] briandowns commented on #64
Having a bit of an issue reproducing. Is this still an issue?

[2020-11-30 02:34] #104 closed

[2020-11-30 03:15] BenTheElder commented on #64
Sorry I'm not using this package anymore (I am using a tiny one internal to our project with just what I needed) and I don't remember the details beyond what I posted here 😅

[2020-11-30 03:17] briandowns commented on #64
Cool. Thanks for the update!

[2020-11-30 03:17] #64 closed

[2020-11-30 03:18] #51 closed

[2020-11-30 03:19] briandowns commented on #52
Closing due to age and potential fix from #61

[2020-11-30 03:19] #52 closed

[2020-11-30 03:20] briandowns commented on #86
Closing for now. Prestyled strings in suffix would be preferred at this time.

[2020-11-30 03:20] #86 closed

[2020-11-30 05:43] Matt-Gleich opened #106 "Weird cursor movements at any speed in fast terminals"
As you can see from the gif below I am getting this weird cursor movement in fast terminals like alacritty. This happens at any speed but the example below is `100 * time.Milliseconds` with char set 14.

![Screen Recording 2020-11-30 at 12 34 29 AM](https://user-images.githubusercontent.com/43759105/100572856-827a2380-32a4-11eb-8e0a-60caaf16eda0.gif)

[2020-11-30 23:57] lukasmalkmus commented on #103
Guess this can be closed? Latest release seemed to work fine 👍

[2020-11-30 23:57] #103 closed

[2020-12-01 02:10] briandowns commented on #106
What OS?

Is the behavior the same with a shorter suffix?

Does this happen with other char sets?

[2020-12-01 02:47] Matt-Gleich commented on #106
Thank you for the quick response!

I am on macOS, it does happen with a shorter suffix (as seen below), it also happens with all char sets.

![Screen Recording 2020-11-30 at 9 35 20 PM](https://user-images.githubusercontent.com/43759105/100690924-929e0b80-3355-11eb-880a-f23e946286b3.gif)

[2021-01-09 04:27] fredliang44 opened #110 "spinner fills console with `WWWW` in JetBrains console."
As I started spinner in Goland, spinner fills console with `WWWW`.

https://user-images.githubusercontent.com/22412638/104083012-df8ad100-5275-11eb-8c44-173e7623e18f.mp4

[2021-01-09 04:30] fredliang44 commented on #110
But if I started command from iTerm, the problem no longer appears.

[2021-01-12 22:02] hardboiledalex commented on #110
Same issue, problem exists for standard Windows terminal since v1.12.0. Rollback to v1.11.1 helps. For macOS iTerm - no problems.

[2021-01-12 22:16] briandowns commented on #110
Hmmm, I wonder what the possible commonality between the Goland terminal and the Windows terminal is? I'll checkout a differ between the two releases to see if I see anything obvious. Thanks for reporting this.

[2021-01-20 07:40] Jaeyo commented on #110
same problem on windows putty terminal. I also rollback to v1.11.1 and resolved.

[2021-01-23 17:42] eclipseo opened #111 "Test error with Golang 1.16 beta 1"
On Fedora Rawhide with Golang 1.16 beta 1, I've got the following error:

[code]

[2021-01-23 17:58] eclipseo commented on #111
It was a ramdom error, maybe there is some race condition somewhere.

[2021-01-23 19:27] eclipseo commented on #111
Reopening because it happens very often.

[2021-01-23 20:04] eclipseo commented on #111
From my limited understanding of the code I think the problematic part is that one:

[code]

Removing this fixes the race condition. s.active is set to false by Stop(), so it should be caught by case <-s.stopChan anyway.

Not sending a PR cause I'm not sure if it breaks other thing.

[2021-02-20 09:48] youngjuning opened #112 "I don't want to overwrite the message after executing stop method"
![](https://user-images.githubusercontent.com/13204332/108591320-273b6700-73a3-11eb-9522-63e6c1d4aa6e.gif)

[2021-02-20 23:31] briandowns commented on #112
Can you provide an example snippet of code to better understand your issue/request? Are you using the FinalMSG field?

[2021-02-21 03:44] youngjuning commented on #112
[code]

[2021-02-25 10:57] piotrpio opened #113 "Long messages are written from new line on windows"
When message is longer that the width of the terminal, every update is printed in new line and the message is cut short:
![image](https://user-images.githubusercontent.com/15184508/109143590-8103ae80-7760-11eb-94a5-a3591081c84e.png)

[2021-03-25 02:48] akshaybabloo commented on #110
Any update on this?

[2021-04-05 10:19] 2000Slash commented on #110
Just encountered this on Linux with zsh shell. But only for one line that was longer than my terminal width and had to be wrapped around.

[2021-04-23 03:50] briandowns commented on #111
Seems resolved in the official release and subsequent patches in the 1.16 line.

[2021-04-23 03:50] #111 closed

[2021-05-24 11:33] Dreamacro commented on #110
@briandowns
Here's the root cause:
https://github.com/briandowns/spinner/blob/2cb1a331834ae44d9f509fd8f583b41ff5c2ff85/spinner.go#L399-L401

I tried removing this code and it still works fine on macOS iterm2, Terminal, JetBrains terminal and vscode's terminal. I'm not sure what this compatibility is for, maybe a historical reason?

[2021-05-26 17:23] #110 closed

[2021-06-06 09:07] akshaybabloo commented on #85
This is now happening on macOS too

[2021-06-06 13:16] briandowns commented on #85
What terminal emulator are you using?

[2021-06-07 02:14] akshaybabloo commented on #85
@briandowns I am on zsh. Running it on Goland and iTerm. Both seem to have the same effect.

[2021-06-07 23:19] wjohnson-metroland opened #118 "Question about prefix or suffix color?"
This is a question and not really an issue. Is it possible to have the `prefix`, `suffix` or `FinalMSG` printed with color?

For example, I can create a simple spinner and make it bold, yellow:

Works just fine, I see my spinner doing it's thing in bold, yellow.

But if I want to have the prefix or suffix or FinalMSG in color, is it possible? Say for example, cyan?

I can achieve the same result b

[2021-06-21 21:32] Pantani commented on #99
try it with the `-race` flag on:

[code]

[code]

[2021-06-22 22:54] medyagh opened #121 "avoid creating a new line for spinner"
first of all thank you for this library,
secondly we are using a fork of this lib in minikube, because if we use upstream it creates a new line for the spinner and ruins the next line
[code]

here is the PR that the fork https://github.com/briandowns/spinner/pull/108

I undrestand the PR might not be best for your project but is there any other way to fix this upstream so we could use it in miniku

[2021-06-22 23:00] briandowns commented on #121
The issue with the PR was a lack of communication to any and all of the questions I had asked to help move the PR forward in some productive manner, misuse of certain lib features, and broken code. I'm not necessarily opposed to modifications. Please feel free to open a new PR that has your set of patches and we can test to make sure it doesn't break expected behavior.

[2021-06-23 15:24] jLopezbarb opened #122 "Terminal is not configured properly after Ctrl+C signal"
**Describe the bug**
When you have a spinner with the HideCursor property set to true and you stop it in the middle of execution with a Ctrl+C signal the returned terminal still has the cursor hidden.

**Expected behavior**
If a stop signal is received it should make the cursor visible.

[2021-06-23 17:53] maxzaleski commented on #85
I second @akshaybabloo.

[2021-06-24 18:42] medyagh commented on #121
I agree @briandowns the PR author @alonyb seems to be not working on it anymore. I wonder if this could have been implemented better way, to be fixed for everyone else?

[2021-06-24 18:59] briandowns commented on #121
I'm curious if we can use the existing functionality wiht the "prefix" or "suffix" to achieve what you want via escape codes.

[2021-06-28 00:05] briandowns commented on #122
I don't really think the package should be aware of or even care of how the spinner is stopped as it could come programmatically or from the operating system. I think the best course of action would be to call the `Stop()` method on the spinner in your signal handler in your code.

[2021-06-29 18:45] medyagh commented on #121
@briandowns that sounds reasonable ! it should be easy to test with minikube
simply remove the replace in our go.mod

and then
`make`
and then
`./ou/minikube start`
and then expect the output look normal

I would be happy to test it if u make a PR for it

I rather we keep we use the orignal library than our other contributor's fork

[2021-06-29 18:49] briandowns commented on #121
Sorry, I'm not sure I'm following. What would I make a PR for?

[2021-06-29 19:13] medyagh commented on #121
oh sorry I didn't pay attention, you meant u already have that functionality , is there an example usage?

[2021-06-29 19:20] briandowns commented on #121
Prefix and suffix use here: https://github.com/briandowns/spinner/blob/master/_example/main.go#L20-L23
Final Message use here: https://github.com/briandowns/spinner/blob/master/_example/main.go#L92

[2021-06-29 20:03] #122 closed

[2021-06-29 20:37] briandowns commented on #118
I haven't tested this but you can add any string in there with escapes for coloring and they "should" come out as expected. (sorry for the delay in response)

[2021-07-24 19:46] eugene-manuilov opened #123 "Stop() doesn't clean up the current line"
After upgrading to the latest version (from `1.13.0`) flushing stopped working for me on Ubuntu.

Here is an example:

[code]

Outputs in `v1.16.0` and in `v1.14.0` (doesn't erase the previous message):

[code]

Outputs in `v1.15.0` (still incorrect, but moves the cursor to the beginning of the line):

[code]

Output in `v1.13.0`:
[code]

[2021-09-05 00:13] QuLogic commented on #111
This is being very flaky again with Go 1.17, possibly also current 1.16 as well.

[2021-09-12 08:48] Shnitzelil opened #124 "Is it possible to add NOTICE.txt file for legal use"

[2021-09-12 14:43] briandowns commented on #124
What are you looking to get out of having that file added?

[2021-09-12 21:02] Shnitzelil commented on #124
Only one thing... that our legal department will be pleased so we will be able to use this library.

[2021-09-29 10:12] lukasmalkmus commented on #123
Can confirm!

[2021-11-18 12:25] mirobertod commented on #123
same here

[2021-11-30 10:07] Heyra-Joker commented on #123
can use fmt.Printf("\r") befor stop().

[2021-12-05 01:12] mxygem commented on #112
@youngjuning Here's an implementation that I think does what you want:

[code]

[2021-12-07 01:48] youngjuning commented on #112
@mxygem Thks bro.

[2021-12-07 01:48] #112 closed

[2021-12-09 22:29] dwertent commented on #123
Hi, I get the same issue, any updates?

[2021-12-11 07:32] theckman commented on #106
Not to shill my own project, but I've been going over some of the open issues here to see if the spinner I've implemented has any of the same limitations.

I wasn't able to reproduce this on my macOS system with alacritty, but wondered if you could give mine a try and raise an issue if it does it as well: https://pkg.go.dev/github.com/theckman/yacspin

[2021-12-11 07:34] theckman commented on #123
Not to shill my own CLi spinner project, but my project was inspired by this one and I've been going through some of the issues here to see if mine has the same limitations. I wasn't able to reproduce this issue on mine, and wanted to see if anyone who was having this issue would be willing to give mine a go and raise an issue if you run into similar problems: https://github.com/theckman/yacspin

[2021-12-11 07:46] theckman commented on #101
@alebcay After seeing some of the challenges with this project I've created an alternative spinner, and have been trying to see if mine suffers from any of the same limitations as this one. I wanted to reach out to see if you might be willing to try my spinner to see if you can reproduce this issue there, and if so raise an issue: https://github.com/theckman/yacspin

[2021-12-11 07:50] theckman commented on #99
@metrue @Pantani I think this is ultimately going to remain a problem, until the API is changed so that methods are used to update settings and not struct fields directly. The data race issues were a big reason I created this alternative spinner, after realizing fixing these issues would be a pretty massive change for this package.

I would love it if you could give it a go, and let me know if you

[2021-12-11 07:55] theckman commented on #85
If anyone who's having this issue would have some time to try the same things on the spinner I created after experiencing similar issues, I'd really appreciate it: https://github.com/theckman/yacspin. I believe this issue may not be present in mine.

[2021-12-17 03:43] #123 closed

[2021-12-17 03:48] #121 closed

[2021-12-17 03:49] briandowns commented on #118
Please feel free to reopen if necessary.

[2021-12-17 03:49] #118 closed

[2021-12-17 04:31] briandowns commented on #74
I think this was also due to not having the "hide cursor" feature as well. I'll push up a change that will remove the extra space.

[2021-12-17 04:43] briandowns commented on #74
Space removed on master branch.

[2021-12-17 04:43] #74 closed

[2021-12-17 15:44] #55 closed

[2021-12-18 17:58] briandowns commented on #58
The behavior isn't currently observed. Please reopen if necessary.

[2021-12-18 17:58] #58 closed

[2021-12-19 03:36] briandowns commented on #85
@danawoodman tested on latest windows and mac and seems to be resolved at this point.

[2021-12-19 03:36] #85 closed

[2021-12-19 05:06] briandowns commented on #124
Added. Available in latest release.

[2021-12-19 05:06] #124 closed

[2021-12-19 07:10] Shnitzelil commented on #124
@briandowns Thank you very much!

[2022-01-26 23:45] vardaro opened #130 "Idiomatic way to make spinner appear invisible?"
Would like the spinner to disappear when `spinner.Stop()` is called.
Is that possible?

[2022-01-26 23:54] briandowns commented on #130
You might be able to have the line get removed by setting `FinalMSG` with the necessary escape sequence.

[2022-01-27 01:36] vardaro commented on #130
Hey thanks for the quick reply. Landed on something like this

[code]
Assuming the `AppSpinner` is some struct that embeds your Spinner.

[2022-01-28 20:47] #130 closed

[2022-02-22 12:12] PuneetPunamiya opened #133 "Any command/function to disappear a spinner"
I have been adding a spinner in one of the logs of the project I have been working on. I was able to add a spinner, but I'm not finding a way how to disappear the spinner when I get the logs. I have attached a small example for it below

![spinner-bug](https://user-images.githubusercontent.com/32545638/155129811-4445b706-5147-41f4-93f3-b910fe99fb33.gif)

In the above gif, we see the spinner half b

[2022-02-23 10:38] PuneetPunamiya commented on #133
@briandowns  any pointers for this issue would be really helpful

[2022-03-12 05:59] SamiAlsubhi opened #134 "Unknown error trying to run the spinner"
I am just taking simplest example to test the spinner:

[code]

and I get this stack of errors, any idea what is the issue?

[code]

[2022-03-12 19:17] briandowns commented on #134
I've tried this on my mac amd64 with Go 1.16 and 1.17 and am not seeing this. Is it possible to upgrade to a newer version of Go and test again? Curious why there are references to "golang.org/x/sys/unix" in there.

[2022-03-12 20:02] theckman commented on #134
@briandowns because this project's `go.mod` requires `github.com/mattn/go-isatty`, which in turn requires `golang.org/x/sys/unix`.

[2022-03-12 20:11] theckman commented on #134
@SamiAlsubhi what version of macOS is this running against? Is it an Intel or M1 Mac? Does the same happen on the latest Go release (`1.17.8`)?

[2022-03-12 20:13] briandowns commented on #134
He stated `go1.17.1 darwin/amd64` and I've asked him to upgrade and try again.

[2022-03-12 20:15] theckman commented on #134
Ah I missed the Go version there. 👍 MacOS version can also be a factor, so it could be helpful to know that too. I have a few Mac's laying around I could maybe test with (depending on the OS version).

[2022-04-01 12:10] Navusas opened #137 "Unable to contribute"
Hey @briandowns ,

I have an issue when using this spinner in simple CMD & Powershell windows (in Windows). There is a fix for it (4 lines of code) for which I would like to open a PR,, but I assume there is some sort of security in-place as I get
[code]

Can you give me read/write permissions?
Thanks

[2022-04-01 12:30] Navusas commented on #137
Ignore me... 🤦

[2022-04-01 12:30] #137 closed

[2022-04-06 16:24] kkredit opened #139 "Rendering issues in Alacritty terminal"
I'm observing rendering issues in [Alacritty](https://alacritty.org/). In the recording I am running the example program with `CharSets[11]` (the default of `9` works okay). I do not have this issue in iTerm2 on the same computer.

https://user-images.githubusercontent.com/15056719/162021378-e56f6366-08da-4e47-8acb-0c22fdae26b5.mov

- OS: MacOS Big Sur 11.6.5
- Terminal: [Alacritty](https://alacri

[2022-04-06 17:24] kkredit commented on #139
I just remembered I'm not using standard Alacritty, but a [fork](https://github.com/zenixls2/alacritty) that adds support for ligatures. This issue is not present in standard Alacritty, so I blame that. Closing the issue for now.

[2022-05-15 04:01] Distortions81 opened #142 "WithWriter() doesn't work"
I was only able to get it to work with s.Writer = conn

[2022-06-18 07:52] 89netraM opened #143 "Add Taskbar Progress Indicator on Windows"
ConEmu and Windows Terminal supports a OSC sequence for manipulating the Taskbar Progress Indicator. This can be used to display "spinners" even when the terminal (or tab) isn't active.

Following the documentation from [ConEmu](https://conemu.github.io/en/AnsiEscapeCodes.html#ConEmu_specific_OSC), this could be used by sending the sequence for indeterminate progress `ESC ] 9 ; 4 ; 3 ; 0 ST` when